<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Welcome back, {{selectedUser.name}}</h5>
                <p class="card-category">
                    These are your current assinged taks.
                </p>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-plain">
                            <div class="card-header">
                                <h5 class="card-title">Assigned Tasks</h5>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class=" text-primary">
                                            <th>
                                                Location
                                            </th>
                                            <th>
                                                Place
                                            </th>
                                            <th>
                                                Criteria
                                            </th>
                                            <th>
                                                Note
                                            </th>
                                            <th class="text-right">
                                                Registered Date
                                            </th>
                                            <th class="text-right">
                                                Target Date
                                            </th>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let criteriaDetail of criteriaDetailList">
                                                <td>
                                                    {{criteriaDetail.location_name}}
                                                </td>
                                                <td>
                                                    {{criteriaDetail.place_name}}
                                                </td>
                                                <td>
                                                    {{criteriaDetail.criteria_name}}
                                                </td>
                                                <td>
                                                    {{criteriaDetail.note}}
                                                </td>
                                                <td class="text-right">
                                                    {{criteriaDetail.curr_date}}
                                                </td>
                                                <td class="text-right">
                                                    {{criteriaDetail.target_date}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>




                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card-footer">

                <!-- <div class="row">
                    <div class="col-md-11"></div>
                    <div class="col-md-1">
                        <button type="button" class="btn btn-outline-dark"
                            (click)="saveCriteriaList()">Save</button>
                    </div>

                </div> -->
            </div>
        </div>
    </div>
</div>